@-moz-document url-prefix("about:") {
    /* Make headers more readable */
    h1 {
        font-weight: 300 !important;
    }
    @media (prefers-color-scheme: light) {
        :host,
        :root {
            --in-content-page-color: WINDOWFGLIGHT !important;
            --in-content-page-background: WINDOWBGLIGHT !important;
            --in-content-text-color: WINDOWFGLIGHT !important;
            --in-content-background-color: WINDOWBGLIGHT !important;
            --in-content-link-color: COLORADAPTIVEBGLIGHT !important;
            --in-content-link-color-visited: COLORADAPTIVEBGLIGHT !important;
            --in-content-accent-color: COLORADAPTIVEBGLIGHT !important;
            --link-color: COLORADAPTIVEBGLIGHT !important;
            --link-color-visited: COLORADAPTIVEBGLIGHT !important;
            --link-color-hover: color-mix(in srgb, WINDOWFGLIGHT 15%, COLORADAPTIVEBGLIGHT) !important;
            --link-color-active: color-mix(in srgb, WINDOWFGLIGHT 30%, COLORADAPTIVEBGLIGHT) !important;

            --in-content-primary-button-background: COLORADAPTIVEBGLIGHT !important;
            --in-content-primary-button-text-color: COLORADAPTIVEFGLIGHT !important;
            --in-content-primary-button-background-hover: color-mix(in srgb, WINDOWFGLIGHT 15%, COLORADAPTIVEBGLIGHT) !important;
            --in-content-primary-button-text-color-hover: COLORADAPTIVEFGLIGHT !important;
            --in-content-primary-button-background-active: color-mix(in srgb, WINDOWFGLIGHT 30%, COLORADAPTIVEBGLIGHT) !important;
            --in-content-primary-button-text-color-active: COLORADAPTIVEFGLIGHT !important;
            --primary-button-background-color: COLORADAPTIVEBGLIGHT !important;
            --primary-button-color: COLORADAPTIVEFGLIGHT !important;
            --primary-button-hover-background-color: color-mix(in srgb, WINDOWFGLIGHT 15%, COLORADAPTIVEBGLIGHT) !important;
            --primary-button-active-background-color: color-mix(in srgb, WINDOWFGLIGHT 30%, COLORADAPTIVEBGLIGHT) !important;

            --category-text: WINDOWFGLIGHT !important;
            --card-background-color: color-mix(in srgb, #FFF 6%, WINDOWBGLIGHT) !important;
            --box-background: color-mix(in srgb, #FFF 6%, WINDOWBGLIGHT) !important;
            --in-content-box-background: color-mix(in srgb, #FFF 6%, WINDOWBGLIGHT) !important;
            --in-content-table-background: color-mix(in srgb, #FFF 6%, WINDOWBGLIGHT) !important;
            --in-content-box-info-background: color-mix(in srgb, #FFF 6%, WINDOWBGLIGHT) !important;
            --in-content-border-color: color-mix(in srgb, WINDOWFGLIGHT 17%, transparent) !important;
            --card-outline-color: color-mix(in srgb, WINDOWFGLIGHT 20%, transparent) !important;
            --card-separator-color: color-mix(in srgb, WINDOWFGLIGHT 17%, transparent) !important;
            --icon-info-color: WINDOWFGLIGHT !important;
            --secondary-text-color: color-mix(in srgb, WINDOWFGLIGHT 65%, transparent) !important;
            /* Floorp */
            --card-background: color-mix(in srgb, #FFF 6%, WINDOWBGLIGHT) !important;
            --in-content-link-color-hover: color-mix(in srgb, WINDOWFGLIGHT 15%, COLORADAPTIVEBGLIGHT) !important;
            --in-content-link-color-active: color-mix(in srgb, WINDOWFGLIGHT 30%, COLORADAPTIVEBGLIGHT) !important;
            --search-bgcolor: color-mix(in srgb, #FFF 6%, WINDOWBGLIGHT) !important;
            --sidebar-border-color: color-mix(in srgb, WINDOWFGLIGHT 17%, transparent) !important;
            --input-border-color: color-mix(in srgb, WINDOWFGLIGHT 25%, WINDOWBGLIGHT) !important;
            --input-border-color-focused: color-mix(in srgb, WINDOWFGLIGHT 47%, WINDOWBGLIGHT) !important;
            --focus-outline-color: COLORADAPTIVEBGLIGHT !important;
            --checkbox-bgcolor: WINDOWBGLIGHT !important;
            --checkbox-border-color: color-mix(in srgb, WINDOWFGLIGHT 25%, WINDOWBGLIGHT) !important;
            --checkbox-hover-border-color: color-mix(in srgb, WINDOWFGLIGHT 47%, WINDOWBGLIGHT) !important;
            --checkbox-fill-color: WINDOWFGLIGHT !important;
            --checkbox-checked-bgcolor: COLORADAPTIVEBGLIGHT !important;
            --checkbox-checked-fill-color: COLORADAPTIVEFGLIGHT !important;
        }
        html,
        body {
            scrollbar-color: WINDOWFGLIGHT WINDOWBGLIGHT !important;
        }
        hr {
            background-color: WINDOWFGLIGHT !important;
        }
        ::-moz-selection {
            color: COLORADAPTIVEFGLIGHT !important;
            background: COLORADAPTIVEBGLIGHT !important;
        }
        button.category:not(:hover):not(:active):not(.selected):not([selected]),
        richlistitem.category:not(:hover):not(:active):not(.selected):not([selected]) { /* Special condition for adaptivebg - light */
            color: color-mix(in srgb, currentColor 65%, transparent) !important;
        }
        #protection-settings {
            color: COLORADAPTIVEBGLIGHT !important;
            fill: COLORADAPTIVEBGLIGHT !important;
        }
        #protection-settings:hover {
            color: color-mix(in srgb, COLORADAPTIVEBGLIGHT 82%, #FFF) !important;
            fill: color-mix(in srgb, COLORADAPTIVEBGLIGHT 82%, #FFF) !important;
        }
        #protection-settings:active {
            color: color-mix(in srgb, COLORADAPTIVEBGLIGHT 64%, #FFF) !important;
            fill: color-mix(in srgb, COLORADAPTIVEBGLIGHT 64%, #FFF) !important;
        }
        .dialogBox { /* common-shared.css:8, Firefox 114, since the dialogs appear to be hardcoded inside these */
            background-color: #fff !important;
            color: rgb(21, 20, 26) !important;
        }
        .dialogTitleBar {
            border-color: #d7d7db !important;
        }
        .dialogClose {
            color: rgb(21, 20, 26) !important;
        }
    }
    @media (prefers-color-scheme: dark) {
        :host,
        :root {
            --in-content-page-color: WINDOWFGDARK !important;
            --in-content-page-background: WINDOWBGDARK !important;
            --in-content-text-color: WINDOWFGDARK !important;
            --in-content-background-color: WINDOWBGDARK !important;
            --in-content-link-color: COLORADAPTIVEBGDARK !important;
            --in-content-link-color-visited: COLORADAPTIVEBGDARK !important;
            --in-content-accent-color: COLORADAPTIVEBGDARK !important;
            --link-color: COLORADAPTIVEBGDARK !important;
            --link-color-visited: COLORADAPTIVEBGDARK !important;
            --link-color-hover: color-mix(in srgb, WINDOWFGDARK 15%, COLORADAPTIVEBGDARK) !important;
            --link-color-active: color-mix(in srgb, WINDOWFGDARK 30%, COLORADAPTIVEBGDARK) !important;

            --in-content-primary-button-background: COLORADAPTIVEBGDARK !important;
            --in-content-primary-button-text-color: COLORADAPTIVEFGDARK !important;
            --in-content-primary-button-background-hover: color-mix(in srgb, WINDOWFGDARK 15%, COLORADAPTIVEBGDARK) !important;
            --in-content-primary-button-text-color-hover: COLORADAPTIVEFGDARK !important;
            --in-content-primary-button-background-active: color-mix(in srgb, WINDOWFGDARK 30%, COLORADAPTIVEBGDARK) !important;
            --in-content-primary-button-text-color-active: COLORADAPTIVEFGDARK !important;
            --primary-button-background-color: COLORADAPTIVEBGDARK !important;
            --primary-button-color: COLORADAPTIVEFGDARK !important;
            --primary-button-hover-background-color: color-mix(in srgb, WINDOWFGDARK 15%, COLORADAPTIVEBGDARK) !important;
            --primary-button-active-background-color: color-mix(in srgb, WINDOWFGDARK 30%, COLORADAPTIVEBGDARK) !important;

            --category-text: WINDOWFGDARK !important;
            --card-background-color: color-mix(in srgb, #FFF 6%, WINDOWBGDARK) !important;
            --box-background: color-mix(in srgb, #FFF 6%, WINDOWBGDARK) !important;
            --in-content-box-background: color-mix(in srgb, #FFF 6%, WINDOWBGDARK) !important;
            --in-content-table-background: color-mix(in srgb, #FFF 6%, WINDOWBGDARK) !important;
            --in-content-box-info-background: color-mix(in srgb, #FFF 6%, WINDOWBGDARK) !important;
            --in-content-border-color: color-mix(in srgb, WINDOWFGDARK 17%, transparent) !important;
            --card-outline-color: color-mix(in srgb, WINDOWFGDARK 20%, transparent) !important;
            --card-separator-color: color-mix(in srgb, WINDOWFGDARK 17%, transparent) !important;
            --icon-info-color: WINDOWFGDARK !important;
            --secondary-text-color: color-mix(in srgb, WINDOWFGDARK 65%, transparent) !important;
            /* Floorp */
            --card-background: color-mix(in srgb, #FFF 6%, WINDOWBGDARK) !important;
            --in-content-link-color-hover: color-mix(in srgb, WINDOWFGDARK 15%, COLORADAPTIVEBGDARK) !important;
            --in-content-link-color-active: color-mix(in srgb, WINDOWFGDARK 30%, COLORADAPTIVEBGDARK) !important;
            --search-bgcolor: color-mix(in srgb, #FFF 6%, WINDOWBGDARK) !important;
            --sidebar-border-color: color-mix(in srgb, WINDOWFGDARK 17%, transparent) !important;
            --input-border-color: color-mix(in srgb, WINDOWFGDARK 25%, WINDOWBGDARK) !important;
            --input-border-color-focused: color-mix(in srgb, WINDOWFGDARK 47%, WINDOWBGDARK) !important;
            --focus-outline-color: COLORADAPTIVEBGDARK !important;
            --checkbox-bgcolor: WINDOWBGDARK !important;
            --checkbox-border-color: color-mix(in srgb, WINDOWFGDARK 25%, WINDOWBGDARK) !important;
            --checkbox-hover-border-color: color-mix(in srgb, WINDOWFGDARK 47%, WINDOWBGDARK) !important;
            --checkbox-fill-color: WINDOWFGDARK !important;
            --checkbox-checked-bgcolor: COLORADAPTIVEBGDARK !important;
            --checkbox-checked-fill-color: COLORADAPTIVEFGDARK !important;
        }
        html,
        body {
            scrollbar-color: WINDOWFGDARK WINDOWBGDARK !important;
        }
        hr {
            background-color: WINDOWFGDARK !important;
        }
        ::-moz-selection {
            color: COLORADAPTIVEFGDARK !important;
            background: COLORADAPTIVEBGDARK !important;
        }
        button.category:not(:hover):not(:active):not(.selected):not([selected]),
        richlistitem.category:not(:hover):not(:active):not(.selected):not([selected]) { /* Special condition for adaptivebg - dark */
            color: color-mix(in srgb, currentColor 65%, transparent) !important;
        }
        #protection-settings {
            color: COLORADAPTIVEBGDARK !important;
            fill: COLORADAPTIVEBGDARK !important;
        }
        #protection-settings:hover {
            color: color-mix(in srgb, COLORADAPTIVEBGDARK 82%, #FFF) !important;
            fill: color-mix(in srgb, COLORADAPTIVEBGDARK 82%, #FFF) !important;
        }
        #protection-settings:active {
            color: color-mix(in srgb, COLORADAPTIVEBGDARK 64%, #FFF) !important;
            fill: color-mix(in srgb, COLORADAPTIVEBGDARK 64%, #FFF) !important;
        }
        .dialogBox { /* common-shared.css:122, Firefox 114 */
            background-color: #42414d !important;
            color: rgb(251,251,254) !important;
        }
        .dialogTitleBar { /* preferences.css:625, Firefox 114 */
            border-color: rgba(249,249,250,0.2) !important;
        }
        .dialogClose {
            color: rgb(251,251,254) !important;
        }
    }
    :host,
    :root {
        --in-content-accent-color-active: var(--in-content-primary-button-background-hover) !important;
        --in-content-button-text-color: currentColor !important;
        --in-content-button-background: color-mix(in srgb, currentColor 13%, transparent) !important;
        --in-content-button-text-color-hover: currentColor !important;
        --in-content-button-background-hover: color-mix(in srgb, currentColor 17%, transparent) !important;
        --in-content-button-text-color-active: currentColor !important;
        --in-content-button-background-active: color-mix(in srgb, currentColor 30%, transparent) !important;
        --button-background-color: color-mix(in srgb, currentColor 10%, transparent) !important;
        --button-hover-background-color: color-mix(in srgb, currentColor 20%, transparent) !important;
        --button-active-background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
        --button-color: currentColor !important;

        --sidebar-background-hover: color-mix(in srgb, currentColor 20%, transparent) !important;
    }
    .dialogClose:hover { /* common-shared.css:8, Firefox 114, since the dialogs appear to be hardcoded inside these */
        background-color: color-mix(in srgb, currentColor 14%, transparent) !important;
    }
    .dialogClose:active {
        background-color: color-mix(in srgb, currentColor 21%, transparent) !important;
    }
    html,
    body {
        background-color: var(--in-content-page-background);
        color: var(--in-content-page-color);
    }
}

@-moz-document url-prefix('about:newtab') {
    @media (prefers-color-scheme: light) {
        body {
            --newtab-background-color: WINDOWBGLIGHT !important;
            --newtab-background-color-secondary: TABBGLIGHT !important;
            --newtab-text-primary-color: WINDOWFGLIGHT !important;
            --newtab-element-hover-color: color-mix(in srgb, WINDOWFGLIGHT 17%, var(--newtab-background-color)) !important;
        }
    }
    @media (prefers-color-scheme: dark) {
        body {
            --newtab-background-color: WINDOWBGDARK !important;
            --newtab-background-color-secondary: TABBGDARK !important;
            --newtab-text-primary-color: WINDOWFGDARK !important;
            --newtab-element-hover-color: color-mix(in srgb, WINDOWFGDARK 17%, var(--newtab-background-color)) !important;
        }
    }
}
@-moz-document url-prefix('about:home') {
    @media (prefers-color-scheme: light) {
        body {
            --newtab-background-color: WINDOWBGLIGHT !important;
            --newtab-background-color-secondary: TABBGLIGHT !important;
            --newtab-text-primary-color: WINDOWFGLIGHT !important;
            --newtab-element-hover-color: color-mix(in srgb, WINDOWFGLIGHT 17%, var(--newtab-background-color)) !important;
        }
    }
    @media (prefers-color-scheme: dark) {
        body {
            --newtab-background-color: WINDOWBGDARK !important;
            --newtab-background-color-secondary: TABBGDARK !important;
            --newtab-text-primary-color: WINDOWFGDARK !important;
            --newtab-element-hover-color: color-mix(in srgb, WINDOWFGDARK 17%, var(--newtab-background-color)) !important;
        }
    }
}

@-moz-document url-prefix('about:privatebrowsing') {
    :root {
        --in-content-page-background: WINDOWBGPRIVATE !important;
        --in-content-page-color: WINDOWFGPRIVATE !important;
        --in-content-text-color: WINDOWFGPRIVATE !important;
    }
    html,
    body {
        scrollbar-color: WINDOWFGPRIVATE WINDOWBGPRIVATE !important;
    }
}

@media (prefers-color-scheme: light) {
    html,
    body {
        scrollbar-color: WINDOWFGLIGHT WINDOWBGLIGHT;
    }
}
@media (prefers-color-scheme: dark) {
    html,
    body {
        scrollbar-color: WINDOWFGDARK WINDOWBGDARK;
    }
}

@-moz-document url('chrome://browser/content/browser.xhtml') {

    /* LIGHT THEME */
    @media (prefers-color-scheme: light) {
        :not(:-moz-lwtheme) {
            --lwt-accent-color: WINDOWBGLIGHT !important;
            --lwt-text-color: WINDOWFGLIGHT !important;
            --toolbar-bgcolor: TABBGLIGHT !important;
            --toolbar-color: TABFGLIGHT !important;
            --lwt-selected-tab-background-color: TABBGLIGHT !important;
            --lwt-tab-text: TABFGLIGHT !important;
            --toolbarbutton-icon-fill-attention: COLORADAPTIVEBGLIGHT !important;
            --chrome-content-separator-color: WINDOWBGLIGHT !important;
            --toolbarbutton-hover-background: TABFG02LIGHT !important;
            --toolbarbutton-active-background: TABFG03LIGHT !important;
            --tabpanel-background-color: WINDOWBGLIGHT !important;
            --tab-loading-fill: COLORADAPTIVETABBGLIGHT !important;
            --message-bar-background-color: TABBGLIGHT !important;
            --message-bar-text-color: TABFGLIGHT !important;
        }
    }

    /* DARK THEME */
    @media (prefers-color-scheme: dark) {
        :not(:-moz-lwtheme) {
            --lwt-accent-color: WINDOWBGDARK !important;
            --lwt-text-color: WINDOWFGDARK !important;
            --toolbar-bgcolor: TABBGDARK !important;
            --toolbar-color: TABFGDARK !important;
            --lwt-selected-tab-background-color: TABBGDARK !important;
            --lwt-tab-text: TABFGDARK !important;
            --toolbarbutton-icon-fill-attention: COLORADAPTIVEBGDARK !important;
            --chrome-content-separator-color: WINDOWBGDARK !important;
            --toolbarbutton-hover-background: TABFG02DARK !important;
            --toolbarbutton-active-background: TABFG03DARK !important;
            --tabpanel-background-color: WINDOWBGDARK !important;
            --tab-loading-fill: COLORADAPTIVETABBGDARK !important;
            --message-bar-background-color: TABBGDARK !important;
            --message-bar-text-color: TABFGDARK !important;
        }
    }

    /* INCOGNITO */
    [lwt-default-theme-in-dark-mode="true"][privatebrowsingmode="temporary"] {
        --lwt-accent-color: WINDOWBGPRIVATE !important;
        --lwt-text-color: WINDOWFGPRIVATE !important;
        --toolbar-bgcolor: TABBGPRIVATE !important;
        --toolbar-color: TABFGPRIVATE !important;
        --lwt-selected-tab-background-color: TABBGPRIVATE !important;
        --lwt-tab-text: TABFGPRIVATE !important;
        --chrome-content-separator-color: WINDOWBGPRIVATE !important;
        --toolbarbutton-hover-background: TABFG02PRIVATE !important;
        --toolbarbutton-active-background: TABFG03PRIVATE !important;
    }

    #TabsToolbar #firefox-view-button[open]:not(:-moz-lwtheme) > .toolbarbutton-icon,
    #tabbrowser-tabs:not([noshadowfortests]):not(:-moz-lwtheme) .tab-background:is([selected], [multiselected]) {
        box-shadow: 0 0 4px rgba(0,0,0,.26) !important;
    }

    @media (prefers-color-scheme: light) {
        browser,
        #appcontent,
        #tabbrowser-tabpanels {
            background-color: WINDOWBGLIGHT !important;
        }
        #customization-content-container {
            background: WINDOWBGLIGHT !important;
            color: WINDOWFGLIGHT !important;
        }
        #customization-footer {
            background: WINDOWBGLIGHT !important;
            border: none !important;
        }
        .customizationmode-button {
            background-color: color-mix(in srgb, currentColor 13%, transparent) !important;
            color: WINDOWFGLIGHT !important;
        }
        .customizationmode-button:hover {
            background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
            color: WINDOWFGLIGHT !important;
        }
        .customizationmode-button:active {
            background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
            color: WINDOWFGLIGHT !important;
        }
        .notificationbox-stack {
            background-color: WINDOWBGLIGHT !important;
        }
        .icon {
            color: COLORADAPTIVETABBGLIGHT !important;
        }
        .container button {
            color: TABFGLIGHT !important;
        }
        .container button:hover {
            color: TABFGLIGHT !important;
        }
        .container button:active {
            color: TABFGLIGHT !important;
        }
        /* Floorp */
        .browserContainer { border-color: WINDOWBGLIGHT !important; }
    }
    @media (prefers-color-scheme: dark) {
        browser,
        #appcontent,
        #tabbrowser-tabpanels {
            background-color: WINDOWBGDARK !important;
        }
        #customization-content-container {
            background: WINDOWBGDARK !important;
            color: WINDOWFGDARK !important;
        }
        #customization-footer {
            background: WINDOWBGDARK !important;
            border: none !important;
        }
        .customizationmode-button {
            background-color: color-mix(in srgb, currentColor 13%, transparent) !important;
            color: WINDOWFGDARK !important;
        }
        .customizationmode-button:hover {
            background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
            color: WINDOWFGDARK !important;
        }
        .customizationmode-button:active {
            background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
            color: WINDOWFGDARK !important;
        }
        .notificationbox-stack {
            background-color: WINDOWBGDARK !important;
        }
        .icon {
            color: COLORADAPTIVETABBGDARK !important;
        }
        .container button {
            color: TABFGDARK !important;
        }
        .container button:hover {
            color: TABFGDARK !important;
        }
        .container button:active {
            color: TABFGDARK !important;
        }
        /* Floorp */
        .browserContainer { border-color: WINDOWBGDARK !important; }
    }
}
@media (prefers-color-scheme: light) {
    ::-moz-selection {
        color: COLORFGLIGHT;
        background: COLORBGLIGHT;
    }
}
@media (prefers-color-scheme: dark) {
    ::-moz-selection {
        color: COLORFGDARK;
        background: COLORBGDARK;
    }
}
