@import url("ferenChrome.css");
@import url("ice.css");

@-moz-document url-prefix('about:preferences') {
    #category-more-from-mozilla,
    #policies-container,
    [data-l10n-id="preferences-data-migration-header"],
    #dataMigration,
    #startupGroup,
    #startupPageBox,
    #alwaysCheckDefault,
    #setDefaultPane,
    #webAppearanceGroup,
    #colorsGroup,
    #languageAndAppearanceCategory,
    #fontsGroup,
    #downloadsGroup #saveWhere,
    #applicationsGroup,
    [data-l10n-id="browsing-cfr-recommendations-learn-more"],
    #warnCloseMultiple,
    #warnOnQuitKey,
    #updatesCategory,
    #updateApp,
    #performanceCategory,
    #performanceGroup,
    #cfrRecommendations,
    #cfrLearnMore,
    #cfrRecommendations-features,
    #cfrFeaturesLearnMore,
    #category-home,
    #newTabsOption,
    #homeContentsGroup,
    #searchbarGroup,
    #searchSuggestionsGroup,
    #oneClickSearchProvidersGroup,
    #browserPrivacyCategory,
    #trackingGroup,
    #historyGroup,
    #locationBarGroup,
    #dataCollectionCategory,
    #dataCollectionGroup,
    #popupPolicy,
    #popupPolicyButton,
    #httpsOnlyBox {
        /*#notificationSettingsRow,
        #autoplaySettingsRow,
        #xrSettingsRow,
        #permissions-block-popups, TODO*/
        display: none !important;
    }
}

@-moz-document url-prefix('about:addons') {
    recommended-extensions-section,
    recommended-themes-section,
    discovery-pane,
    .colorways-section {
        display: none !important;
    }
    #categories button:first-child {
        display: none !important;
    }
}

@-moz-document url-prefix('about:newtab') {
    .personalize-button,
    .context-menu-button,
    .icon-pin-small {
        display: none !important;
    }
    .top-sites-list .top-site-outer:not(:first-child) {
        display: none !important;
    }
    /* Floorp */
    .releasenote {
        display: none !important;
    }
}
@-moz-document url-prefix('about:home') {
    .personalize-button,
    .context-menu-button,
    .icon-pin-small {
        display: none !important;
    }
    .top-sites-list .top-site-outer:not(:first-child) {
        display: none !important;
    }
    /* Floorp */
    .releasenote {
        display: none !important;
    }
}

@-moz-document url-prefix('about:privatebrowsing') {
    .search-inner-wrapper {
        display: none !important;
    }
}

@-moz-document url-prefix('about:blocked') {
    #seeDetailsButton,
    #learn_more,
    #ignore_warning_link,
    #errorInnerDescription {
        display: none !important;
    }
    .button-container button { /* Undo border styling in about:blocked */
        border-color: var(--in-content-primary-button-border-color) !important;
    }
}

/* Floorp */
@-moz-document url-prefix('about:preferences') {
    #floorpWorkspace,
    #floorpWorkspaceSettings,
    [data-l10n-id="workspace-warring"],
    #notes-preferences,
    #enable-notes-sync,
    [data-l10n-id="notes-sync-description"],
    [data-l10n-id="notes-backup-option"],
    #backUpNotesOption,
    #designGroup,
    [data-l10n-id="vertical-tabbar"],
    [data-l10n-id="native-tabbar-tip"],
    #hoverVerticalTab,
    #tabbbarGroup,
    #bookmarkBarGroup,
    #navBarGroup,
    #category-BSB,
    #ProfilesButton {
        display: none !important;
    }
}
