@import url("GTKless.css");
@import url("ice.css");

@-moz-document url('chrome://browser/content/browser.xhtml') {

    :root {
        --toolbar-btn-count: 3;
        --sol-toolbar-width: calc((var(--toolbar-start-end-padding) * 2) +
            (16px * (var(--toolbar-btn-count) + 1)) +
            (var(--toolbarbutton-outer-padding) * 2 * (var(--toolbar-btn-count) + 1)) +
            (var(--toolbarbutton-inner-padding) * 2 * (var(--toolbar-btn-count) + 1)));
        --sol-titlebutton-width: 30px;
        --sol-toolbar-space: 0px;
    }
    @media (-moz-gtk-csd-minimize-button),
    (-moz-gtk-csd-maximize-button),
    (-moz-gtk-csd-close-button) {
        :root {
            --sol-toolbar-space: var(--sol-titlebutton-width) !important;
        }
    }
    @media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-close-button),
    (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button),
    (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button) {
        :root {
            --sol-toolbar-space: calc(var(--sol-titlebutton-width) * 2) !important;
        }
    }
    @media (-moz-gtk-csd-close-button) and (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-minimize-button) {
        :root {
            --sol-toolbar-space: calc(var(--sol-titlebutton-width) * 3) !important;
        }
    }

    window,
    #TabsToolbar,
    #sidebar-box,
    #nav-bar {

        -moz-appearance: none !important;

        border: none !important;
        box-shadow: none !important;
        background: none !important;

    }

    #forward-button,
    #nav-bar-overflow-button,
    #urlbar[breakout],
    #toolbar-menubar,
    #PersonalToolbar,
    #customization-palette-container,
    #customization-panel-container,
    #customization-titlebar-visibility-checkbox,
    #customization-toolbar-visibility-button,
    #customization-reset-button,
    #customization-uidensity-menuitem-touch,
    #customization-lwtheme-link,
    #context-forward,
    #context-bookmarkpage,
    #context_bookmarkSelectedTabs,
    #context_bookmarkTab,
    #context-bookmarklink,
    #toolbar-context-bookmarkSelectedTab,
    #toolbar-context-bookmarkSelectedTabs,
    #toggle_PersonalToolbar,
    #toggle_toolbar-menubar,
    #viewToolbarsMenuSeparator,
    #toolbarItemsMenuSeparator,
    .customize-context-moveToPanel,
    .customize-context-removeFromToolbar,
    toolbarpaletteitem:not(#wrapper-urlbar-container) {
        display: none !important;
    }
    #urlbar-container {
        max-width: 0px !important;
        min-width: 0px !important;
        margin-inline: 0 !important;
    }
    #customization-uidensity-menuitem-compact {
        list-style-image: url("chrome://browser/skin/customizableui/density-normal.svg") !important;
    }
    #customization-uidensity-menuitem-normal {
        list-style-image: url("chrome://browser/skin/customizableui/density-touch.svg") !important;
    }
    #customization-content-container::before {
        margin: auto;
        content: "🌅";
        font-size: 800%;
    }
    #nav-bar-customization-target {
        max-width: calc((16px * 2) +
            (var(--toolbarbutton-outer-padding) * var(--toolbar-btn-count)^2) +
            (var(--toolbarbutton-inner-padding) * var(--toolbar-btn-count)^2) +
            var(--toolbarbutton-outer-padding) + var(--toolbarbutton-inner-padding)) !important;
            /* NOTE: Extra padding to make the menu button properly positioned */
        min-width: calc((16px * 2) +
            (var(--toolbarbutton-outer-padding) * var(--toolbar-btn-count)^2) +
            (var(--toolbarbutton-inner-padding) * var(--toolbar-btn-count)^2) +
            var(--toolbarbutton-inner-padding)) !important;
    }

    .titlebar-spacer { display: none !important; }
    .titlebar-buttonbox-container { display: -moz-inline-box !important; }

    /* move toolbars into one-line */
    @media (-moz-gtk-csd-reversed-placement) {
        #TabsToolbar {
            margin-left: calc(var(--sol-toolbar-width) + var(--sol-toolbar-space)) !important;
        }
        #nav-bar {
            margin: calc((var(--urlbar-min-height) * -1) - 9px) calc(100vw - var(--sol-toolbar-width) + var(--toolbar-start-end-padding)) 0 var(--sol-toolbar-space) !important;
            overflow: unset !important;
        }
        .titlebar-buttonbox-container {
            left: 0 !important;
            top: 4px !important;
            position: absolute !important;
            display: block !important;
            z-index: 99 !important;
        }
    }
    @media not (-moz-gtk-csd-reversed-placement) {
        #TabsToolbar {
            margin-left: var(--sol-toolbar-width) !important;
        }
        #nav-bar {
            margin: calc((var(--urlbar-min-height) * -1) - 9px) calc(100vw - var(--sol-toolbar-width) + var(--toolbar-start-end-padding)) 0 0 !important;
        }
    }
    toolbarbutton {
        fill: var(--lwt-text-color) !important; /* use titlebar text colour */
    }

    /* Hide menu items */
    #appMenu-new-private-window-button2,
    #appMenu-bookmarks-button,
    #appMenu-downloads-button,
    #appMenu-passwords-button,
    #appMenu-more-button2,
    #appmenu-customizetoolbar,
    #appmenu-moreTools-button,
    #appMenu_feedbackPage,
    #appMenu_helpSafeMode,
    #appMenu_troubleShooting,
    #appMenu_menu_HelpPopup_reportPhishingtoolmenu,
    #appMenu_helpSwitchDevice,
    #downloadsFooterButtons {
        display: none !important;
    }

    @supports -moz-bool-pref("privacy.clearOnShutdown.history") {
        #appMenu-history-button {
            display: none !important;
        }
        #back-button,
        #reload-button,
        #stop-button,
        #context-back,
        #context-reload,
        #context-stop,
        #context-sep-navigation {
            display: none !important;
        }
        #unified-extensions-button { /* Taken from browser-shared.css line 184*/
            padding-inline-start: var(--toolbar-start-end-padding) !important;
        }
        :root {
            --toolbar-btn-count: 1;
        }
    }

    :root:not([privatebrowsingmode=temporary]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs,
    :root[privatebrowsingmode=temporary] :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs {
        border-inline-start: none !important;
        padding-inline-start: var(--tab-overflow-pinned-tabs-width) !important;
        margin-inline-start: 0 !important;
    }

    /* Hide sidebar */
    #sidebar-box,
    #sidebar-splitter {
        display: none !important;
    }

    :root {
        --button-active-bgcolor: color-mix(in srgb, currentColor 30%, transparent) !important;
        --button-bgcolor: color-mix(in srgb, currentColor 13%, transparent) !important;
        --button-hover-bgcolor: color-mix(in srgb, currentColor 17%, transparent) !important;
    }
    .container.infobar { /* message-bar.css:83, message-bar.css:155, Firefox 115 */
        background: var(--message-bar-background-color) !important;
        color: var(--message-bar-text-color) !important;
    }
    .container .notification-button {
        background-color: color-mix(in srgb, currentColor 13%, transparent) !important;
    }
    .container .close {
        fill: currentColor !important;
    }
    .container button:hover {
        background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
    }
    .container button:active {
        background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
    }

    /* Bug fixes */
    /*#navigator-toolbox-background { /* Random line below the tab bar */
    /*    appearance: none !important;
    }*/  /* breaks shadows */

    /* Floorp */
    #workspace-button,
    #sidebar2-box,
    #sidebar-select-box,
    #statusBar,
    #toggle_statusBar {
        display: none !important;
    }
}
